<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">theMARKr</a>
    <ul class="nav">
      <li><a href="/<%= params[:user_id] %>">Dashboard</a></li>
      <li class="divider-vertical"></li>
      <li><a href="#">My List</a></li>
      <li class="divider-vertical"></li>
      <li><a href="#">Link</a></li>
      <li class="divider-vertical"></li>
      <p class="navbar-text pull-right">
      <a href="/logout">Log-out</a> :: <%= @current_user.username %>
      </p>
    </ul>


    <form class="navbar-form pull-right">
      <form action="/<%= @current_user.id %>/search" method="get" class="navbar-form pull-right">
        <input type="text" name="place_name" class="span3" placeholder="Search & Add New Place Here">
        <button type="submit" class="btn btn-primary">Search</button>
      </form>
  </div>
</div>