<div class="span2">
  <% if place["image_url"].nil? %>
    <%= image_tag("NotAvailable.jpg", class: "img-polaroid", size: "100x100") %>
  <% else %>
    <%= image_tag(place["image_url"], class: "img-polaroid") %>
  <% end %>
</div>