<div class="span3">
  <span class="big_bright_font"><%= place["name"] %></span><br>
  Rating: <img src="<%= place["rating_img_url"] %>">
  <%= place["review_count"] %> reviews<br>
  <%= place["categories"].flatten.map{ |category| category.titleize }.uniq.to_sentence(:last_word_connector => ", ") unless place["categories"].nil? %>
</div>
