
<div class="row-fluid">
  <div class="span10 offset1">
    <h1>About this project:</h1>
    <p class="lead"><b>theMARKr.com</b> was created with a simple idea and desire to be able to 'bookmark' your favorite places somewhere in the cloud. You can always go back to this list to remember, organize, and (soon) be able to share all your favorite places with friends and discover where others hang out too.</p>

    <p class="lead">Large metropolitan areas like New York City are filled with literally thousands of phenomenal restaurants and bars, and we are much spoiled with such a vibrant nightlife and social arena it offers. Unfortunately many of these places are surprisingly hard-to-find, hole-in-the-wall places we discover randomly and just like anything else, <u>we tend to forget</u>. (And let's be honest -  we are not always sober when we discover them either!)</p>

    <p class="lead">Hence the inspiration for theMARKr. Hope you find it helpful too. :)</p>

    <h1>About the author:</h1>
    <p class="lead">theMARKr.com was built by and the first project for <b>Thomas</b> (<a href="https://twitter.com/ThomasWhyyou">@thomaswhyyou</a>) who's currently enrolled in General Assembly's <em>Web Development Immersive</em> June 2013 NYC bootcamp. The project was built over a period of about a week on Ruby on Rails framework, utilizing two APIs, Yelp and Google Map.</p>

    <p class="lead">Thomas lives in New York City with a lovely dog named Carmen. Any and all feedback/criticisms/suggestions welcome at <a href="https://twitter.com/ThomasWhyyou">@thomaswhyyou</a>. Cheers,</p>

  </div>
</div>