






  <div class="container">
    <h1>theMARKr</h1>
    <p>Bookmark all your favorite places.</p>
    <p><a href="">Download Bootstrap</a></p>
    <ul class="masthead-links">
      <li><a href="">GitHub project</a></li>
      <li><a href="">Examples</a></li>
      <li><a href="">Extend</a></li>
    </ul>
  </div>
