<%= render 'layouts/home_layout' %>

<div class="container landing_bang">
  <p><sup>the</sup>MARKr</p>
</div>

<div class="tag_line">
  <p>ALL YOUR</p>
  <p>FAVORITE PLACES</p>
  <p>+</p>
  <p>SAVED IN</p>
  <p>ONE PLACE</p>
</div>
