<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">theMARKr</a>
    <ul class="nav pull-right">
      <li><a href="#">Log in</a></li>
      <li class="divider-vertical"></li>
      <li><a href="#">Sign up</a></li>
    </ul>
  </div>
</div>

