<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      This is side bar content
    </div>
    <div class="span10">
      This is main body content
    </div>
  </div>
</div>