
.top_margin_push_down {
  margin: 60px 0;
}

.small_font {
  font-size: 80%;
}

.kinda_small_font {
  font-size: 90%;
}

.big_bright_font {
  font-weight: bold;
  font-size: 150%;
  color: #2890D1;
}

.right_align {
  text-align: right;
}

.center_align {
  text-align: center;
}

.dashboard_box {
  border: 2px solid lightgrey;
  padding: 10px;
  border-radius: 5px;
  height: 75px;
  width: 915px !important;
  background: white;
}

.dashboard_map {
  margin: 10px 0;
}

.list_margin_bump{
  margin: 10px 0;
}

.test_style{
  quotes: none;
}

.side_padding {
  padding: 0 15px;
}

.paperbg {
  background: url('groovepaper.png');
  /*background-size: cover;*/
  background-repeat: repeat;
  background-attachment:fixed;
  background-position:center;
}

#homebg {
  background: url('landing1-copy.jpg');
  background-size: cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:center;
}

#goodbye {
  background: url('goodbye.jpeg');
  background-size: cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:center;
}

.red_font {
  color: red !important;
}

